.donateBackground {
    background-color: #f7f8f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
}

.donateHeader {
    background-image: 
        linear-gradient(to bottom, rgba(255, 177, 155, 0.5) 0, rgb(249, 110, 70) 100%),
        url('../donateHead.webp');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    padding-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donateHeader p {
    width: 80%;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
}

.donationFormContainer {
    background-image: linear-gradient( #f7f8f9, #f2f4f7); 
    width: 100%;
}

.donationFormContainer h1 {
    color: #1a1a1a;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}

.formWrapper {
    margin: 5%;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 10px;
    margin-bottom: 20%;
}

.formWrapper form {
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.creditCardInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    color: #1a1a1a;
    margin: 10px 15px;
}

.creditCardInput input {
    width: 96%;
    border: 0;
    border-radius: 20px;
    margin-top: 5px;
    padding: 5px;
}

.donateBtn {
    width: 50%;
    background-color: #f96e46;
    color: rgb(248, 247, 249);
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px;
    margin-top: 20px;
    font-size: 1.2rem;
}

.donatedDiv {
    padding: 5%;
}

.donatedDiv>div {
    background-color: #ff8c61;
    padding: 5px 10px;
    border-radius: 10px;
}