.hostFeedBackground {
    background-color: #747c92;
    background-image: linear-gradient( #747c92, #1a1a1a);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    padding-top: 15%;
    padding-bottom: 15%;
}

img {
    width: 60vw;
}

h2{
    color: rgba(26, 26, 26, 0.8);
    text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
    margin: 2px;
}

.errorMsg {
    margin-top: 0px;
}