.ngoFeedBackground {
    background-color: #747c92;
    background-image: linear-gradient( #747c92, #1a1a1a);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ngoFilterContainer {
    background-color: rgba(255, 140, 97, 0.6);
    box-shadow: 3px 3px 20px rgb(0, 0, 0, 0.3);
    margin: 5%;
    margin-top: 20%;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ngoFilterContainer h2 {
    font-weight: 200;
    margin-bottom: 0;
    text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.3);
}

.ngoFilterContainer form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.inputContainer {
    display: flex;
}

.filter {
    width: 50%;
    background-color: #ff8c61;
    color: rgb(248, 247, 249);
    border: 0;
    border-radius: 10px;
    font-weight: 700;
    padding: 10px;
    margin: 10px 0px;
    font-size: 1.2rem;
}

img {
    width: 30vw;
}

.errorMsg {
    margin-top: 0px;
}